* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  line-height: 1.6;

  background-image: url("/images/waiting-room-with-chairs-blurred.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  text-align: center;
  text-decoration: none;
  align-items: center;
  padding-top: 90px;
  margin: 10px;
}
.title {
  height: 5rem;
  text-align: center;
  align-items: center;
}

/* From Uiverse.io by Madflows */
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
